<div class="container-logo col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-2 m-auto p-0">
	<img src="assets/img/logos/color.png" class="d-block w-50 m-auto" id="img-logo" alt="logo">
</div>
<div class="container-menu-top col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 col-xxl-10 p-0">
	<div class="row ">
		<div class="d-flex flex-row-reverse">
			<app-nav-user></app-nav-user>
		</div>
	</div>
	<div class="row">
		<nav class="navbar-center navbar navbar-expand-lg col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
			<div class="container-fluid container-nav-center">
				<a class="navbar-brand" ></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPage" aria-controls="navbarPage" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarPage">
					<div class="navbar-nav nav-center">
						<a class="" href="">inicio</a>
						<a class="" href="">Avance de obra</a>
						<a class="" href="">Boletines y comunicados</a>
						<a class="" href="">Acerca del proyecto</a>
					</div>
				</div>
			</div>
		</nav>
	</div>
</div>